<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div class="heading">
            <nav class="nav-hd">
                <div class="logo">
                    <img src="../img/bear.jpg" alt="anh1" class="logo">
                </div>
        
                <div class="menu">
                    <ul class="main-menu">
                        <li><a href="../views/home.html">Trang chủ</a></li>
                        <li><a href="../views/introduce.html">Giới thiệu</a></li>
                        <li><a href="../views/product.html">Sản phẩm</a></li>
                        <li><a href="../views/news.html">Tin tức</a></li>
                        <li><a href="">Đối tác</a></li>
                        <li><a href="../views/contact.html">Liên hệ</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</body>
</html>